doctype 5
html
  head
    title Image Gallery :: Backbone.js Screencast

    link(rel='stylesheet', href='/css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/css/imagegallery.css', type='text/css')

    script(src='/js/vendor/json2.js')
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/underscore.js')
    script(src='/js/vendor/backbone.js')
    script(src='/js/vendor/backbone.marionette.js')
    script(src='/js/imagegallery.js')

    script#image-preview-template(type='text/html')
      li
        a(href='#')
          img(src!='<%= url %>', width='150', height='100', alt!='<%= description %>')
          span.image-label <%= name %>

    script#image-view-template(type='text/html')
      h2 <%= name %>
      .nav-next
        a(href='#') &lt;
      .nav-previous
        a(href='#') &gt;
      img(src!='<%= url %>', width='300', height='200', alt!='<%= description %>')
      .image-footer
        .description <%= description %>
        .edit
          a(href!='#images/<%= id %>/edit') Edit

    script#edit-image-template(type='text/html')
      h1 Edit Image <%= id %>
      ul
        li
          label(for!='image-url') Image Url: 
          input#url(type='text', name='url', value!='<%= url %>')
        li
          label(for='preview') Preview: 
          #image-preview
            img#preview(src!='<%= url %>')
        li
          label(for='name') Image Name: 
          input#name(type='text', name='name', value!='<%= name %>')
        li
          label(for='description') Description: 
          textarea#description(name='description') <%= description %>
        li.save-cancel
          #delete-image
            a#delete(href='#') delete
          a#cancel(href!='#images/<%= id %>') cancel
          input#save(type='submit', name='Save', value='Save')

    script#add-image-template(type='text/html')
      h1 Add Image
      ul
        li
          label(for='image-url') Image Url: 
          input#url(type='text', name='url')
        li
          label(for='preview') Preview: 
          #image-preview
            img#preview
        li
          label(for='name') Image Name: 
          input#name(type='text', name='name')
        li
          label(for='description') Description: 
          textarea#description(name='description')
        li.save-cancel
          a#cancel(href='/') cancel
          input#save(type='submit', name='Save', value='Save')

    script#error-view-template(type='text/html')
      h1 Error
        p
          | <%= message %>

    script
      var imageData = !{JSON.stringify(images)};
      $(function(){
        ImageGallery.start({
          imageData: imageData
        });
      });

  body
    header.navbar.navbar-static-top
      .navbar-inner
        .container
          .brand Image Gallery
          ul.nav
            li
              a(href="#images/new") Add Image

    section.content-container
      .container
        .row.content-row
          article.span8#main
            block content
          sidebar.span4#sidebar
            #image-list

    section.container
      .row
        .span1 &nbsp;
        .span10

    footer
      .container
        .row
          .span12.pull-right
